<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.railway.mapper.TrainMapper">
    
    <resultMap id="BaseResultMap" type="com.railway.entity.Train">
        <id column="id" property="id"/>
        <result column="train_code" property="trainCode"/>
        <result column="train_type" property="trainType"/>
        <result column="capacity" property="capacity"/>
        <result column="status" property="status"/>
    </resultMap>
    
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO trains(id, train_code, train_type, capacity, status) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.trainCode}, #{item.trainType}, #{item.capacity}, #{item.status})
        </foreach>
    </insert>
    
</mapper>
